.mui-content .book {
	max-height: 400px;
	overflow: hidden;
}

.add {
	width: 60px;
	height: 30px;
}

.red{
	border: 1px solid red;
}

.mui-content .book .bg {
	position: absolute;
	width: 100%;
	opacity: 0.1;
}

.mui-content .book .bg img {
	width: 100%;
}

.mui-content .book .book_left {
	float: left;
	width: 100px;
	height: 125px;
	margin: 40px 0px 40px 40px;
}

.mui-content .book .book_left img {
	width: 100%;
	height: 100%;
}

.mui-content .book .book_right {
	float: left;
	width: 44%;
	height: 125px;
	margin: 40px 20px 40px 10px;
}

.mui-content .book .book_right span {
	display: block;
	font-size: 15px;
}

.mui-content .book .book_right .bookName {
	font-size: 18px;
	font-weight: bold;
	color: black;
}

#scroll1 {
	height: 350px;
}

#scroll2 {
	height: 310px;
	margin-top: 44px;
}

.sort {
	border-bottom: 1px solid #555555;
	background-color: white;
	position: absolute;
	z-index: 3;
	height: 44px;
	width: 100%;
}

.sort span {
	font-size: 14px;
	line-height: 44px;
}

.mui-content .btn {
	position: absolute;
	width: 100%;
	z-index: 3;
	bottom: 0;
}

.mui-content .btn button {
	width: 49%;
	height: 44px;
}
